body
{
    background-color: #303030;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    /*nadpisanie kaskadowosci*/
    margin :0 !important;
}
.wrapper
{
    width:100%;
}
.header
{
    width:100%;
    /*padding only in vertical axis*/
    padding: 40px 0;
}
.logo
{
    width:450px;
    font-size:30px;
    margin-left:auto;
    margin-right:auto;
    color:white;
}
.nav
{
    width:100%;
    padding:10px 0;
    background-color: crimson;
    text-align:center;
    border-top: 2px solid #751b1b;
    border-bottom: 2px solid #751b1b;
    color: black;
}
.content
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
    background-color: yellow;
    height: 1600px;
    color: black;
    padding-top:10px;
}
.socials
{
    width:100%;
    text-align:center;
    background-color: #292929;
    color:white;

}
.socialsdivs
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.fb
{
    width: 25%;
    height:155px;
    float: left;
}
.fb:hover
{
    background-color: #4668b3;
}
.yt
{
    width: 25%;
    height:155px;
    float: left;
}
.yt:hover
{
    background-color: #d94348;
}
.tw
{
    width: 25%;
    height:155px;
    float: left;
}
.tw:hover
{
    background-color: #3095d3;
}
.gp
{
    width: 25%;
    height:155px;
    float: left;
}
.gp:hover
{
    background-color: #d95333;
}
.footer
{
    text-align:center;
    background-color: #222222;
    padding:30px;
}
.sticky
{
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index: 100;
}
ol
{
    padding:0;
    margin:0;
    list-style-type: none;
    font-size:20px;
    height:35px;
    line-height: 200%;

}
/*style only for adres in lis*/
ol a
{
    color:white;
    text-decoration:none;
    display: block;
}
/*styl for li that parent have in ol*/
/*parentt > child*/
ol > li
{
    display: inline-block;
    width: 150px;
    border-right: 2px dashed black;
    
}
/*pierwsza opcja*/
ol > li:first-child
{
    border-left: 2px dashed black;
}
ol>li:hover
{
    background-color: #cf6969;
}
ol >li:hover > a
{
    color:#451717;
}
ol>li>ul
{
    list-style-type: none;
    padding: 0px;
    margin:0;
    height:40px;
    /*nie pokauj domyslnie elemntow listy*/
    display: none;
}
ol > li>ul>li
{
    background-color: #cf6969;
    position:relative;
    z-index: 100;
    border-top:1px dashed black;
}
/*pojawiabnie sie opcji*/
ol > li:hover > ul
{
    display: block;
}
ol > li>ul>li:hover
{
    background-color: yellow;

}
ol > li>ul>li:hover > a
{
    color:red;
}