body
{
    background-color: #303030;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    /*nadpisanie kaskadowosci*/
    margin :0 !important;
}
.wrapper
{
    width:100%;
}
.header
{
    width:100%;
    /*padding only in vertical axis*/
    padding: 40px 0;
}
.logo
{
    width:450px;
    font-size:30px;
    margin-left:auto;
    margin-right:auto;
    color:white;
}
.nav
{
    width:100%;
    padding:10px 0;
    background-color: crimson;
    text-align:center;
    border-top: 2px solid #751b1b;
    border-bottom: 2px solid #751b1b;
    height: 40px;
    color: black;
}
.content
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
    background-color: yellow;
    height: 200px;
    color: black;
}
.socials
{
    width:100%;
    text-align:center;
    background-color: #292929;

}
.socialsdivs
{
    width:1000px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}
.fb
{
    width: 250px;
    height:155px;
    float: left;
}
.fb:hover
{
    background-color: #4668b3;
}
.yt
{
    width: 250px;
    height:155px;
    float: left;
}
.yt:hover
{
    background-color: #d94348;
}
.tw
{
    width: 250px;
    height:155px;
    float: left;
}
.tw:hover
{
    background-color: #3095d3;
}
.gp
{
    width: 250px;
    height:155px;
    float: left;
}
.gp:hover
{
    background-color: #d95333;
}

